
GitHubTest/.vs/GitHubTest/DesignTimeBuild/.dtbcache
GitHubTest/.vs/GitHubTest/v16/.suo
GitHubTest/.vs/GitHubTest/v16/Server/sqlite3/db.lock
GitHubTest/.vs/GitHubTest/v16/Server/sqlite3/storage.ide
GitHubTest/GitHubTest.csproj
GitHubTest/GitHubTest.sln
GitHubTest/obj/Debug/netcoreapp3.1/GitHubTest.AssemblyInfo.cs
GitHubTest/obj/Debug/netcoreapp3.1/GitHubTest.AssemblyInfoInputs.cache
GitHubTest/obj/Debug/netcoreapp3.1/GitHubTest.assets.cache
GitHubTest/obj/Debug/netcoreapp3.1/GitHubTest.csprojAssemblyReference.cache
GitHubTest/obj/GitHubTest.csproj.nuget.cache
GitHubTest/obj/GitHubTest.csproj.nuget.dgspec.json
GitHubTest/obj/GitHubTest.csproj.nuget.g.props
GitHubTest/obj/GitHubTest.csproj.nuget.g.targets
GitHubTest/obj/project.assets.json
GitHubTest/Program.cs
